---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> ⌨️ Hello!</h1>
			<p>
				Welcome to my custom mechanical keyboard store blog!
				As a keyboard enthusiast or someone who spends a lot of time typing, you know the important of having a high-quality keyboard that is not only comfortable to type on but is aesthetically pleasing as well. 
			</p>
			<p>
				Our store offers many custom mechanical keyboard parts, including, switches, keycaps, plates, pcb, and cases. In addition to selling keyboard parts, we offer accessories to enhance your typing experience and improve your ergonomic comfort.
			</p>
			<p>My blog aims to provide you with the knowledge and expertise in the complex world of mechanical keyboards.</p>
			
			<p>
				💳 Check out our affilated custom keyboard vendors <strong>(When I create a real e-commerce site, I will include links to my own store)</strong> <a
				<ul>
					<li><a target="_blank" href='https://kbdfans.com/?gclid=CjwKCAiAr4GgBhBFEiwAgwORrUdezFWea2ztmfs4blFp5Gc-hXtU4Drq4NA0u6yTia7GFL3BC-3zuxoCHSYQAvD_BwE'>KBD Fans</a></li>
				    <li><a target="_blank" href='https://kineticlabs.com/'>Kinetic Labs</a></li>
					<li><a target="_blank" href='https://minokeys.com/'>Mino Keys</a> <strong>(Canadian Vendor)</strong></li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
